<!DOCTYPE html>
<html>
    <head>
        <title>Django Girls blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Introduccion a HTML</a></h1>
        </div>

        <div>
            <p>published: 02.12.2017, 12:00</p>
            <h2><a href="">¿Que es HTML?</a></h2>
            <p>HTML es un simple código que es interpretado por tu navegador web - como Chrome, Firefox o Safari - para mostrar una página web al usuario.</p>

            <p>HTML significa "HyperText Markup Language". En español, Lenguaje de Marcas de HyperTexto. HyperText significa que es un tipo de texto que soporta hipervínculos entre páginas. Markup significa que hemos tomado un documento y lo marca con código para decirte cómo interpretar la página (en este caso, un navegador). El código HTML está construido con etiquetas, cada una comenzando con < y terminando con >. Estas etiquetas representan elementos de marcado.
            </p>
        </div>

        <div>
            <p>published: 02.12.2017, 12:14</p>
            <h2><a href="">Cabeza y cuerpo</a></h2>
            <p>Cada página HTML también se divide en dos elementos: <strong>head</strong> y <strong>body</strong>.</p>
            <ul>
            	<li><strong>head</strong> es un elemento que contiene información sobre el documento que no se muestra en la pantalla.</li>
            	<li><strong>body</strong> es un elemento que contiene todo lo que se muestra como parte de la página web.</li>
            </ul>
        </div>
    </body>
</html>